.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    color: grey;
    display: block;
}

#course-nav-sidebar {
    max-width: 200px;
    margin: 10px;
    text-decoration: none; 
}

#course-nav-sidebar ul {
    padding-left: 0;
    text-decoration: none; 
}

#course-nav-sidebar li {
    background-color: white;
    list-style: none;
    padding-block: 10px;
    text-decoration: none; 
    text-decoration: none; 
}

#course-nav-sidebar li a {
    color: red;
    text-decoration: none; 
}

#course-nav-sidebar li a:hover {
    text-decoration: none;

}

#course-nav-sidebar li.active {
    font-weight: bold;
    border-left: 2px solid #2d3b45;
    padding-left: 4px;
    margin-left: -7px;
    text-decoration: none; 
    
}

#course-nav-sidebar li.active a {
    color: #2d3b45;
    text-decoration: none; 
}

